.ContHomeCard {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    animation: born 0.2s ease;
}
.ContHomeCard > div {
    width: 100%;
    height: 100%
}
.catImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.infoDiv {
    /* border: 1px solid green; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.infoDiv > h3 {
    text-shadow: 0 0 5px rgb(var(--sdark));
    /* padding: 0rem; */
    font-family: 'Nunito';
    font-size: 2rem;
}
.infoDiv > p {
    text-shadow: 0 0 5px rgb(var(--sdark));
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem;
    
}
.infoDiv > h3 > span {
    font-family: 'Gluten';
}
.Cat {
    font-family: 'Gluten';
    color: rgb(var(--primary));
}
.Wiki {
    font-family: 'Gluten';
    color: rgb(var(--secondary));
}

@keyframes born {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}