.ContHomeCard {
    /* border: 1px solid red; */
    height: 100%;
    overflow: hidden;
    position: relative;
}
.ContHomeCard > div {
    width: 100%;
    height: 100%
}
.catImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.infoDiv {
    /* border: 1px solid green; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.infoDiv > h3, .infoDiv > p {
    background: linear-gradient(90deg, transparent, var(--shadow), transparent);
    padding: 1rem;
    width: 100%;
}