.ContFullImage {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--shadow);
}
.ContFullImage > img {
    width: 100%;
}