.HomeCont {
    /* border: 3px solid green; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.homeCardDiv {
    /* border: 1px solid red; */
    width: 100%;
    height: 25rem;
}
.longCategoriesDiv {
    position: relative;
    /* border: 2px solid blue; */
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.categoriesTitle {
    font-family: 'Gluten';
    text-shadow: 0 0 1px rgb(var(--secondary));
    text-align: left;
    width: 100%;
    margin-left: 2rem;
    font-size: 2rem;
    color: rgb(var(--secondary));
}
.categoriesTitle > span:first-of-type {
    color: rgb(var(--primary));
}

.longCategoriesDiv > div {
    /* border: 1px solid green; */
    width: 90%;
    
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .homeCardDiv {
        width: 45rem;
    }
}