.HomeCont {
    /* border: 3px solid green; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.homeCardDiv {
    /* border: 1px solid red; */
    /* margin: 0; */
    width: 100%;
    height: 25rem;
}
/* .categoriesDiv {
    position: relative;
    border: 1px solid blue;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s ease;
} */
/* .moreCategoriesButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    border: none;
    color: white;
    font-weight: 800;
    background: linear-gradient(0deg, var(--shadow), transparent);
} */
.longCategoriesDiv {
    position: relative;
    /* border: 2px solid blue; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}
/* .longCategoriesDiv > .moreCategoriesButton {
    display: none;
} */
.categoriesTitle {
    /* margin: 0; */
    font-family: 'Gluten';
    /* color: white; */
    text-shadow: 0 0 1px var(--black);
    text-align: left;
    width: 100%;
    margin-left: 2rem;
    font-size: 2rem;
}
.categoriesTitle > span:first-of-type {
    color: var(--orange);
}