.ContBreedDetail {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detailsDiv {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}